<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/first_style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <title>Motivatry</title>
</head>
<body class="body">
    <main class="main">
        <a class="header__title">Motiva<span class="letter">try</span></a>
        <video autoplay muted loop id="bgVid">
            <source src="../images/main.mp4" type="video/mp4">
            Ваш браузер не поддерживает тег video.
        </video> 
        <div class="texts">
            <a class="text__1">Открой свой потенциал с нами!</a>
            <a class="text__2">Разгадай свои тайны и раскрой скрытые таланты с нашим сайтом</a>
            <a href="second_page.html" class="buttom__text">Начать</a>
        </div>
    </main>
</body>
</html>
