<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/second_style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Montserrat:wght@600&family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <title>02-homework</title>
</head>
<body class="body">
    <header class="header">
        <div class="header__line">
            <img  class="logo" src="../images/logo.jpg" alt="logo">
            <a href="first_page.html" class="header__title">Motivatry</a>
        </div>
        <div class="wrapper">
            
        </div>
        <!-- <img  class="second__img" src="../images/second_page.jpg" alt="start"> -->
    </header>
    <main>
        <div class="first__path">
            <div class="text">
                <a class="about__us">О нас</a>
                <a class="about__text">Мы – студенты второго курса, 
                    которые сами стремятся к самосовершенствованию. 
                    В поиске ответов на вопрос, как стать успешнее, 
                    мы создали этот сайт для самоанализа.</a>
                <a class="about__text">Здесь мы предоставляем вам возможность 
                    исследовать свои таланты, разбираться в собственных сильных
                     сторонах и преодолевать преграды на пути к личному росту. 
                     Наш опыт и знания – ваш компас в мире саморазвития.</a>
                <a class="about__text">Присоединяйтесь к нам, чтобы вместе 
                    обнаруживать путь к успеху. Ведь здесь, на страницах 
                    нашего сайта, мы создаем сообщество, где каждый может 
                    найти вдохновение для становления лучшей версией себя. 
                    Добро пожаловать в наше увлекательное путешествие к 
                    вашему собственному успеху!</a>
            </div>
            <div class="img">
                <img  class="third__img" src="../images/3_3.jpg" alt="us">
            </div>
        </div>
        <div class="second__path">
            <a class="sec__path__text">Возможности</a>
            <div class="sec__path__poster">
                <div class="poster">
                    <div class="poster__text">
                        <a class="poster__title">Откройте дверь к своим мыслям</a>
                        <a class="poster__subtitle">Запишите свои мысли прямо 
                            сейчас и дайте своим идеям шанс расцвести!</a>
                    </div>
                    <img class="poster__img" src="../images/3_1.jpg">
                </div>
                <div class="poster">
                    <div class="poster__text">
                        <a class="poster__title">Исследуйте мир музыки</a>
                        <a class="poster__subtitle">Насладитесь нашими музыкальными 
                            подборками – от веселья до покоя, здесь есть 
                            что-то для каждого настроения!</a>
                    </div>
                    <img class="poster__img" src="../images/3_2.jpg">
                </div>
                <div class="poster">
                    <div class="poster__text">
                        <a class="poster__title">Ваш Прогресс в Фокусе</a>
                        <a class="poster__subtitle">Мы следим за вашими успехами, 
                            чтобы вы всегда оставались на верном пути.</a>
                    </div>
                    <img class="poster__img" src="../images/palma.jpg">
                </div>
            </div>
        </div>
        <div class="third__page">
            <div id="mess__box"></div>
        </div>
    </main>
    <script src="../scripts/script.js"></script>
</body>
</html>